In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
dataset = [['Onion', 'Potato', 'Burger'],
['Potato', 'Burger', 'Milk'], 
['Milk', 'Beer'],
['Potato', 'Milk'],
['Onion', 'Potato', 'Burger', 'Beer'], 
['Onion', 'Potato', 'Burger', 'Milk']
]

In [4]:
encode = TransactionEncoder()
encoded_array = encode.fit(dataset).transform(dataset)
encoded_array

array([[False,  True, False,  True,  True],
       [False,  True,  True, False,  True],
       [ True, False,  True, False, False],
       [False, False,  True, False,  True],
       [ True,  True, False,  True,  True],
       [False,  True,  True,  True,  True]])

In [5]:
dataframe = pd.DataFrame(encoded_array, columns=encode.columns_) 
dataframe

    Beer  Burger   Milk  Onion  Potato
0  False    True  False   True    True
1  False    True   True  False    True
2   True   False   True  False   False
3  False   False   True  False    True
4   True    True  False   True    True
5  False    True   True   True    True

In [6]:
frequent_itemsets = apriori(dataframe, min_support=0.4, use_colnames=True) 
frequent_itemsets

    support                 itemsets
0  0.666667                 (Burger)
1  0.666667                   (Milk)
2  0.500000                  (Onion)
3  0.833333                 (Potato)
4  0.500000          (Burger, Onion)
5  0.666667         (Potato, Burger)
6  0.500000           (Potato, Milk)
7  0.500000          (Potato, Onion)
8  0.500000  (Potato, Burger, Onion)

In [7]:
pattern_rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7) 
pattern_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Burger),(Onion),0.666667,0.500000,0.500000,0.75,1.5,0.166667,2.000000,1.000000
1,(Onion),(Burger),0.500000,0.666667,0.500000,1.00,1.5,0.166667,inf,0.666667
2,(Potato),(Burger),0.833333,0.666667,0.666667,0.80,1.2,0.111111,1.666667,1.000000
3,(Burger),(Potato),0.666667,0.833333,0.666667,1.00,1.2,0.111111,inf,0.500000
4,(Milk),(Potato),0.666667,0.833333,0.500000,0.75,0.9,-0.055556,0.666667,-0.250000
5,(Onion),(Potato),0.500000,0.833333,0.500000,1.00,1.2,0.083333,inf,0.333333
6,"(Potato, Burger)",(Onion),0.666667,0.500000,0.500000,0.75,1.5,0.166667,2.000000,1.000000
7,"(Potato, Onion)",(Burger),0.500000,0.666667,0.500000,1.00,1.5,0.166667,inf,0.666667
8,"(Burger, Onion)",(Potato),0.500000,0.833333,0.500000,1.00,1.2,0.083333,inf,0.333333
9,(Burger),"(Potato, Onion)",0.666667,0.500000,0.500000,0.75,1.5,0.166667,2.000000,1.000000
10,(Onion),"(Potato, Burger)",0.500000,0.666667,0.500000,1.00,1.5,0.166667,inf,0.666667

In [9]:
import seaborn as sns
import numpy as np
from pandas import DataFrame 
import matplotlib.pyplot as plt

basket = pd.read_csv("Market_Basket_Optimisation.csv", header = None) 
basket.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
records = []
for i in range (0, 7501):
    records.append([str(basket.values[i,j]) for j in range(0, 20)])

In [12]:
encode = TransactionEncoder()
encoded_array = encode.fit(records).transform(records)
data_frame = pd.DataFrame(encoded_array, columns = encode.columns_) 
data_frame

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [13]:
basket_clean = data_frame.drop(['nan'], axis = 1) 
basket_clean

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [14]:
frequent_itemsets = apriori(basket_clean, min_support = 0.04, use_colnames = True) 
frequent_itemsets.head()

    support     itemsets
0  0.087188    (burgers)
1  0.081056       (cake)
2  0.046794  (champagne)
3  0.059992    (chicken)
4  0.163845  (chocolate)

In [15]:
pattern_rules = association_rules(frequent_itemsets, metric = 'lift', min_threshold = 1) 
pattern_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(chocolate),(mineral water),0.163845,0.238368,0.052660,0.321400,1.348332,0.013604,1.122357,0.308965
1,(mineral water),(chocolate),0.238368,0.163845,0.052660,0.220917,1.348332,0.013604,1.073256,0.339197
2,(eggs),(mineral water),0.179709,0.238368,0.050927,0.283383,1.188845,0.008090,1.062815,0.193648
3,(mineral water),(eggs),0.238368,0.179709,0.050927,0.213647,1.188845,0.008090,1.043158,0.208562
4,(mineral water),(ground beef),0.238368,0.098254,0.040928,0.171700,1.747522,0.017507,1.088672,0.561638
5,(ground beef),(mineral water),0.098254,0.238368,0.040928,0.416554,1.747522,0.017507,1.305401,0.474369
6,(mineral water),(milk),0.238368,0.129583,0.047994,0.201342,1.553774,0.017105,1.089850,0.467950
7,(milk),(mineral water),0.129583,0.238368,0.047994,0.370370,1.553774,0.017105,1.209650,0.409465
8,(mineral water),(spaghetti),0.238368,0.174110,0.059725,0.250559,1.439085,0.018223,1.102008,0.400606
9,(spaghetti),(mineral water),0.174110,0.238368,0.059725,0.343032,1.439085,0.018223,1.159314,0.369437