In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

mpg=pd.read_csv(Path("auto_mpg_notnull.csv"))

In [2]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceration,model_year,origin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [3]:
mpg = mpg.drop(['car_name'], axis=1, inplace=False)
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceration,model_year,origin
0,18.0,8,307.0,130,3504,12.0,70,1
1,15.0,8,350.0,165,3693,11.5,70,1
2,18.0,8,318.0,150,3436,11.0,70,1
3,16.0,8,304.0,150,3433,12.0,70,1
4,17.0,8,302.0,140,3449,10.5,70,1

In [4]:
mpg['origin'].replace({1:'USA', 2:'EU', 3:'JPN'},inplace=True)
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceration,model_year,origin
0,18.0,8,307.0,130,3504,12.0,70,USA
1,15.0,8,350.0,165,3693,11.5,70,USA
2,18.0,8,318.0,150,3436,11.0,70,USA
3,16.0,8,304.0,150,3433,12.0,70,USA
4,17.0,8,302.0,140,3449,10.5,70,USA

In [5]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    int64
 4   weight        398 non-null    int64
 5   acceration    398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
dtypes: float64(3), int64(4), object(1)
memory usage: 25.0+ KB

In [6]:
mpg['horsepower'] = pd.to_numeric(mpg['horsepower'], errors='coerce')
mpg['horsepower'].dtypes

dtype('int64')

In [7]:
mpg.describe()

,mpg,cylinders,displacement,horsepower,weight,acceration,model_year
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.178392,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.294837,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,92.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [8]:
mpg_label = mpg['mpg'] 
mpg_feature = mpg.drop(['mpg','origin'], axis=1, inplace=False)

In [9]:
from sklearn.model_selection import train_test_split

Y = mpg_label
X = mpg_feature

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2)
x_train

     cylinders  displacement  horsepower  weight  acceration  model_year
349          4          91.0          68    1985        16.0          81
282          4         140.0          88    2890        17.3          79
50           4         116.0          90    2123        14.0          71
313          4         151.0          90    2678        16.5          80
266          4          98.0          68    2155        16.5          78
..         ...           ...         ...     ...         ...         ...
35           6         250.0         100    3329        15.5          71
30           4         140.0          90    2264        15.5          71
189          8         304.0         120    3962        13.9          76
271          4         156.0         105    2745        16.7          78
274          5         131.0         103    2830        15.9          78

[318 rows x 6 columns]

In [10]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression() 
lr.fit(x_train,y_train)

LinearRegression()

In [11]:
mpg_predict = lr.predict(x_test)
mpg_predict[:5]

array([11.59500315,  7.77290596, 30.432047  , 26.44518137, 26.12844526])

In [12]:
y_test.iloc[:5]

62     13.0
103    11.0
279    29.5
255    25.1
58     25.0
Name: mpg, dtype: float64

In [13]:
from sklearn.metrics import mean_squared_error

lin_rmse = mean_squared_error(y_test, mpg_predict,
                              squared=False)
lin_rmse

3.3293142803690414